body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

span {
    color: orange;
}

.banner-top {
    display: flex;
    padding-bottom: 100px;
}

.width-top {
    width: 50%;
}

#left {
    padding-top: 120px;
    color: rgb(70, 69, 69);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color: rgb(70, 69, 69);
}

p {
    color: rgb(70, 69, 69);
    padding-bottom: 20px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 99, 88), rgb(252, 42, 27));
    padding: 10px 40px;
    border-radius: 25px;
    color: aliceblue;
    font-weight: 700;
}

.about-me {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

#img-fm {
    width: 25%;
    padding-left: 200px;
}

#about {
    padding: 80px 150px;
}

.recipies {
    text-align: center;
    padding: 20px 0px;
}