body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

span {
    color: orange;
}

.banner-top {
    display: flex;
    padding-bottom: 100px;
}

.width-top {
    width: 50%;
}

#left {
    padding-top: 120px;
    color: rgb(70, 69, 69);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color: rgb(70, 69, 69);
}

p {
    color: rgb(70, 69, 69);
    padding-bottom: 20px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 99, 88), rgb(252, 42, 27));
    padding: 10px 40px;
    border-radius: 25px;
    color: aliceblue;
    font-weight: 700;
}

.about-me {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

#img-fm {
    width: 25%;
    padding-left: 200px;
}

#about {
    padding: 80px 150px;
}

.recipies {
    text-align: center;
    padding: 20px 0px;
}

.recipie-title {
    display: flex;
    padding: 10px 40px;
}

.title-box {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#right-box {
    margin-left: 2.5%;
    margin-right: 5%;
}

#left-box {
    margin-left: 5%;
    margin-right: 2.5%;
}

.social {
    margin: 80px 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 40px gray;
}

h4 {
    font-size: 30px;
}

.text {
    text-align: center;
    padding: 0px 50px;
}

.soc {
    padding: 0px 50px;
}

.footer-part {
    text-align: center;
    background-color: rgb(11, 5, 44);
    padding: 10px;
}

.footer-part h4 {
    color: gray;
}

.footer-part p {
    color: azure;
    font-size: 12px;
}